<div class="footer">
    <a href="#" class="about-dev">
        <button class="footer-con" type="submit">About Developer</button>
      </a>
      <a href="#" class="pri">
        <button class="footer-con" type="submit"> Privacy</button>                           
      </a>
      <a href="#" class="cont">
        <button class="footer-con" type="submit">Contact info</button>
      </a>
      <a href="#" class="social">
        <button class="footer-con" type="submit">Social media</button>
      </a>
</div>

</body>
</html>
