<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
    </head>

    <body>
      <nav>
        <a class="logo" href="/"><strong>DMT</strong></a>
        <div>
          <button class="dark-mode" type="submit">🌙</button>
          <% if (user) { %>
            <a class="users-page" href="/profiles">Users</a>
            <a class="profile-owner" href="">Profile</a>
            <a href="/auth/logout">
              <button class="logout" type="submit">Logout</button>
            </a>
            <% } else { %>
              <a href="/auth/google" class="siwg-link">
                <button type="submit" class="siwg">
                  <img id="siwg-image" alt="Sign in with Google" />
                </button>
              </a>
              <% } %>
        </div>
      </nav>