



















 <!-- for comments -->
 <section class="comments">
    <h1><strong>Comments</strong></h1>
    <form action="/comments/<%= comment._id %>/reviews" method="POST">
      <textarea name="comment" id="content-textarea" cols="70px" rows="3px"
        placeholder="Type Your Comments Here"></textarea><br>
      <button type="submit">Post Comments</button>
    </form>
  </section>