.section-one {
    padding: 30px;
    justify-content: center;
}

.card {
    border-radius: 10px;
    background: linear-gradient(45deg, #77ce18 0%, #1c6ea4 44%, #c517b8 100%);
    color: wheat;
    width: 80%;
    margin: 20px auto;
    border-bottom: 13px solid rgb(139, 8, 139);
}

.card-img-top {
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
        #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
        #ff2d95 0px 0px 50px, #ec1983 0px 0px 75px;
}

.card-text {
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 20px;
}

a {
    text-decoration: none;
}

.card-button>button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    width: fit-content;
    margin: 5px auto;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
        #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
        #ff2d95 0px 0px 50px, #ec1983 0px 0px 75px;

}

/* .comments>form {
    
} */
.card-button>button:hover,
.comments>form>button:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(128, 0, 122);
    font-weight: 600;
}



.comments-section {
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    font-style: italic;

}

.comments>form>textarea {
    background-color: white;

}

.comments-title {
    color: white;
}

.public-comments {
    list-style: none;
    text-align: center;
}

.public-comments>li {
    color: white;
}