.logo-add-contact-page {
    text-decoration: none;

}

main>a>button {
    justify-content: center;
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    border: none;
    background: linear-gradient(180deg, #77ce18 0%, #1c6ea4 44%, #c517b8 100%);
    border-radius: 10px;
    color: wheat;
    margin: 0px auto;
}

.if-not-contact {
    justify-content: center;
    display: flex;
    margin: 40px auto;
    background-color: red;
    padding: 25px;
    border-radius: 20px;
}

table {
    width: 85%;
    margin: 20px auto;
}

thead {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    background-color: black;

}

th {
    padding: 10px;
}

tbody {
    background: linear-gradient(45deg, #77ce18 0%, #1c6ea4 44%, #c517b8 100%);

}

td {
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 1px solid wheat;
}

.edit {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.delete {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}