.add-contacts {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: wheat;
    width: 80%; 
    margin: auto;

}

.add-contacts>form {
    margin: auto;
    text-align: center;
  

}

label {
    color:black;
    font-size: x-large;
    font-weight: bolder;
    margin: 5px auto;
 
}

input,
textarea  {
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin: 5px 30px;
    text-align: start;
}



button {
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
}