<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/contacts/new.css" />
  <%- include('../partials/nav') %>

    <main>
      <section class="add-contacts">
        <form action="/contacts" method="POST">
          <label>Full Name: </label>
          <input type="text" name="fullName" required="true" autocomplete="off" />
          <br>
          <label> Phone Number: </label>
          <input type="number" name="phoneNumber" required="true" autocomplete="off" />
          <br>
          <label>Email:</label>
          <input type="email" name="email" required="true" autocomplete="off" />
          <br>
          <label> Profession:</label>
          <input type="text" name="profession" required="true" autocomplete="off" />
          <br>
          <label>Related Name:</label>
          <input type="text" name="relatedName" required="true" autocomplete="off" />
          <br>
          <label>Address:</label>
          <input type="text" name="address" autocomplete="off" />
          <br>
          <label for="company">Company:</label>
          <input type="text" name="company" autocomplete="off" />
          <br>
          <label for="note">Note</label>
          <textarea type="text" name="note" autocomplete="off" rows="2" cols="30"></textarea>
          <br>
          <button type="submit">Add your contacts</button><br />
        </form>
      </section>

    </main>
    <%- include('../partials/footer') %>